body {
  background-color: #242424;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  flex-direction: column;
}

.title {
  color: white;
  font-weight: bold;
  margin: auto;
}

.autocomplete {
  padding-top: 5%;
  margin: auto;
  width: fit-content;
  position: relative;
}

input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
  color: black;
  text-align: center;
  width: 300px;
}

.suggestions {
  position: absolute;
  width: 100%;
  max-height: 232px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-top: none;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: white;
  z-index: 1000;
}

.suggestions li {
  text-align: center;
  padding: 10px;
  cursor: pointer;
  border-bottom: solid 1px grey;
  box-sizing: border-box;
}

.suggestions li:last-child {
  border-bottom: none;
}

.suggestion-active {
  background-color: #008f68;
  color: white;
}

.suggestion-unactive {
  background-color: white;
}

.no-suggestions {
  width: 100%;
  text-align: center;
  color: white;
  padding: 10px;
  position: absolute;
  padding: 0;
  margin: 0;
}

.suggestions::-webkit-scrollbar {
  width: 8px;
}

.suggestions::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.suggestions::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.suggestions::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 4px;
}

.station-table {
  text-align: center;
  margin: 20px auto;
  width: 80%;
  border-collapse: collapse;
  font-size: 16px;
}

.station-table table {
  width: 100%;
}

.station-table td {
  padding: 10px 10px 7px 10px;
  position: relative;
  color: white;
}

.station-table th {
  padding: 10px;
  font-weight: bold;
  background-color: #d2d6e6;
}

.station-table .row-even {
  background-color: #ffffff;
}

.station-table .row-odd {
  background-color: #f9f9f9;
}

.station-table .arrow {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.station-table .incorrect {
  background-color:#a83236;
}

.station-table .correct {
  background-color:#1c942c;
}

.station-table .partial {
  background-color:#e0b12d;
}

.win-message {
  background-color: #1c942c;
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
}

.lines {
  margin: 5px;
}
